<!DOCTYPE html>
<html lang="en">
    <!-- Links and site icon and name content -->
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../css/index.css" />
        <link rel="icon" href> <!-- Icon of page title -->
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
            rel="stylesheet">
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous" />
        <script src="../js/index.js"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
        <title> Movie Rating Site </title>
    </head>
    <body class="body">
        <!-- Navbar content -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark"
            style="height: 5rem;">
            <div class="container-fluid" style="margin-left: 10rem;">
                <span class="navbar-brand">Movie Ratings </span>
                <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse"
                    id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Add Movie</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#"
                                id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Personal
                            </a>
                            <ul class="dropdown-menu"
                                aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item"
                                        href="#">Friends</a></li>
                                <li><a class="dropdown-item"
                                        href="#">Watch-later</a></li>
                                <li><a class="dropdown-item" href="#">Already
                                        Watched</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item active"
                                        href="#">Profile</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex" style="margin-right: 10rem;">
                        <input class="form-control me-2" type="search"
                            placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success"
                            type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    
        <!-- Page content -->
        <hr style="border-top: 5px solid; margin: 0px 0px 3rem">
        <div class="container" style="margin: 0rem 10rem; width: 77%;">
            <div class="row">
                <div class="col">
                    <h1>Profile</h1>
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="path/to/profile-picture.jpg" alt="Profile Picture" class="img-fluid rounded-circle mb-3">
                                </div>
                                <div class="col-md-8">
                                    <h5 class="card-title">John Doe</h5>
                                    <p class="card-text">Email: john.doe@example.com</p>
                                    <p class="card-text">Joined: January 1, 2023</p>
                                    <a href="#" class="btn btn-primary">Edit Profile</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <h2 class="mt-4">Favorite Movies</h2>
                    <div class="row">
                        <div class="col-md-4 mb-4">
                            <div class="card">
                                <img src="path/to/movie1-poster.jpg" class="card-img-top" alt="Movie 1 Poster">
                                <div class="card-body">
                                    <h5 class="card-title">Movie 1</h5>
                                    <p class="card-text">Movie 1 description</p>
                                    <a href="#" class="btn btn-primary">Details</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-4">
                            <div class="card">
                                <img src="path/to/movie2-poster.jpg" class="card-img-top" alt="Movie 2 Poster">
                                <div class="card-body">
                                    <h5 class="card-title">Movie 2</h5>
                                    <p class="card-text">Movie 2 description</p>
                                    <a href="#" class="btn btn-primary">Details</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-4">
                            <div class="card">
                                <img src="path/to/movie3-poster.jpg" class="card-img-top" alt="Movie 3 Poster">
                                <div class="card-body">
                                    <h5 class="card-title">Movie 3</h5>
                                    <p class="card-text">Movie 3 description</p>
                                    <a href="#" class="btn btn-primary">Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    </html>