<!DOCTYPE html>
<html lang="en">
    <!-- Links and site icon and name content -->
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../css/index.css" />
        <link rel="icon" href> <!-- Icon of page title -->
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
            rel="stylesheet">
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous" />
        <script src="../js/index.js"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
        <title> Movie Rating Site </title>
    </head>
    <body class="body">
        <!-- Navbar content -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark"
            style="height: 5rem;">
            <div class="container-fluid" style="margin-left: 10rem;">
                <span class="navbar-brand">Movie Ratings </span>
                <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse"
                    id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Add Movie</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#"
                                id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Personal
                            </a>
                            <ul class="dropdown-menu"
                                aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item"
                                        href="#">Friends</a></li>
                                <li><a class="dropdown-item"
                                        href="towatch.html">Watch-later</a></li>
                                <li><a class="dropdown-item"
                                        href="watched.html active">Already Watched</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item"
                                        href="#">Profile</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex" style="margin-right: 10rem;">
                        <input class="form-control me-2" type="search"
                            placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success"
                            type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    
        <!-- Page content -->
        <hr style="border-top: 5px solid; margin: 0px 0px 3rem">
        <div class="container" style="margin: 0rem 10rem; width: 77%;">
            <div class="row">
                <div class="col">
                    <h1>Watched Movies</h1>
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <div class="col">
                            <div class="card">
                                <img src="path/to/image1.jpg" class="card-img-top" alt="Movie A">
                                <div class="card-body">
                                    <h5 class="card-title">Movie A</h5>
                                    <p class="card-text">Description of Movie A</p>
                                    <a href="#" class="btn btn-primary">View Details</a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <img src="path/to/image2.jpg" class="card-img-top" alt="Movie B">
                                <div class="card-body">
                                    <h5 class="card-title">Movie B</h5>
                                    <p class="card-text">Description of Movie B</p>
                                    <a href="#" class="btn btn-primary">View Details</a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <img src="path/to/image3.jpg" class="card-img-top" alt="Movie C">
                                <div class="card-body">
                                    <h5 class="card-title">Movie C</h5>
                                    <p class="card-text">Description of Movie C</p>
                                    <a href="#" class="btn btn-primary">View Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    </html>